/* Ao ficar menor, os ícones ficam fixados na parte inferior da tela */
@media only screen and (max-width: 920px) {

    header#container {
        width: 250px;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        padding-top: 20px;
    }
    
    header#container .content {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
    }
    
    div.barra-info .content {
        padding-left: 219px;
        /* padding-left: 20%; */
    }

    .header-nav {
        width: 100%;
    }

    .header-list {
        flex-direction: column;
    }

    .header-list-element {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0px;
        padding: 10px 0px;
        
    }

    .header-list-element.profile {
        display: flex;
    }
    
    .header-left {
        flex-direction: column;
    }

    #icon-twitter-first {
        display: block;
        margin-bottom: 5px;
    }
    .icon-twitter {
        display: none;
    }

}