* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com que a conta do padding e margin sejam exatas. Exemplo:
    se vc colocar uma altura de 300 e uma largura de 20, em tese, somaria 20 de cada lado da largura
    aumentando para 340, mas essa propriedade faz uma soma interna para que não ultrapasse */

}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
}

header {
    background-color: #E0E0E0;
    height: 50px;
    
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header#container ul {
    display: flex;
    list-style: none;
}

header#container div.header-left {
    display: flex;
    align-items: center;
}

header#container ul li {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header#container li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

header#container li .icon-home {
    height: 18px;
    margin-bottom: 3px;
}

header#container div.header-left img{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}

header .icon-twitter {
    width: 30px;
    height: 30px;
}

header#container li {
    margin-left: 10px;
}

header#container li:first-child {
    margin-left: 0;
}

header#container button {
    background-color: #00AAEC;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #00AAEC;
    color: #ffff;
}

header#container input {
    padding-left: 10px;
    background: url('images/search.svg') no-repeat 155px center;
    background-size: 20px;
    padding-right: 30px;
     background-position-x: 180px;
}

input, button {
   height: 40px;
   border-radius: 20px;
   outline: none; 
   border: 1px solid #ffff;  

}
