* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com que a conta do padding e margin sejam exatas. Exemplo:
    se vc colocar uma altura de 300 e uma largura de 20, em tese, somaria 20 de cada lado da largura
    aumentando para 340, mas essa propriedade faz uma soma interna para que não ultrapasse */

}
:root{
    --gelado: #e6ecf0;
    --white: #ffffff;
    --paleBlue: #00AAEC;
    --cinza: #667580;
    --pretoFraco: #212121;
}
body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    background-color: var(--gelado);
}

/* body::-webkit-scrollbar {/* define a largura do scroll 
    width: 0.50rem;
}

body::-webkit-scrollbar-track{/* regra para a cor do scroll completo 
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb{/* regra para o scroll rolando 
    background-color: var(--paleBlue);
} */
.selected  {
    color: red;
}

header {
    height: 50px;
    background-color: var(--white);
}

.content {
    max-width: 1100px;
    margin: 0 auto; /* coloca nossos elementos da página no centro. */
}

header#container {
    position: relative; /* os dois últimos blocos chamam a shadown para p/ frente do header */
    z-index: 1;
    width: 100%;
    padding: 0px 20px;
}

header#container .content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


header#container ul {
    display: flex;
    list-style: none;
}

.header-list-element {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 22px;
}

header#container li:first-child {
    margin-left: 0;
}
.header-list-element.profile {
    display: none;
}

.header-list-element-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--cinza);
}

header#container li img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

header#container div.header-left {
    max-width: 100%;
    display: flex;
    align-items: center;
}

header#container div.header-left img {
    width: 40px;
    height: 40px;
    margin: 0 18px;
    color:rgba(0, 0, 0, 0.25);
}

/* header#container div img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
} */

#icon-twitter-first {
    display: none;
}

header .icon-twitter {
    width: 20px;
    height: 20px;
}


header#container button {
    background-color: var(--paleBlue);
    width: 100px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

header#container input {
    padding-left: 10px;
    background: url('images/search.svg') no-repeat 155px center;
    background-size: 20px;
    padding-right: 30px;
    background-position-x: 180px;
    border: 1px solid var(--gelado);
}
header {
    box-shadow: 0 1px 3px var(--cinza);
}

input, button {
   height: 40px;
   border-radius: 20px;
   outline: none; 
   border: 1px solid var(--white);  
}

div.main-banner{
    width: 100%;
    height: 400px;
    background-color: var(--paleBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.main-banner h3, div.main-banner p {
    color: var(--white);
}
div.main-banner p {
    margin-top: 30px;    
}

div.barra-info {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.barra-info .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 270px;
    /* padding-left: 20%; */
}

div.barra-info ul {
    max-width: 100%;
    height  : 100%;
    list-style-type: none;
    display: flex;
}

div.barra-info ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

div.barra-info ul li#ativo::after{
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--paleBlue);
}

div.barra-info ul li#ativo strong{
    color: var(--paleBlue);
    
}

div.barra-info ul li span {
    font-size: max(13px,1vw);
    font-weight: bold;
    color: var(--cinza);
}

div.barra-info ul li strong {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--cinza);
}

div.barra-info #follow-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.barra-info #follow-info button {
    width: 100px;
    background-color: var(--white);
    color: var(--paleBlue);
    font-size: 13px;
    font-weight: bold;
    border: 1px solid var(--paleBlue);
    cursor: pointer;
    margin-right: 18px;
}

/* estilizando o profile */
div.wrapper {
    display: flex;
    margin-top: 10px;
}

div.wrapper aside {
    width: 23.63%;
}

div.wrapper aside img#avatar {
    width: 200px;
    height: 200px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-top: -150px;
}
div.wrapper aside.profile {
    width:
}

div.wrapper aside.profile h1 {
    padding: 5px 0px;
    color: var(--pretoFraco);
}

div.wrapper aside.profile span, div.wrapper aside.profile li {
    color: var(--cinza);
}

div.wrapper aside.profile p {
    padding: 15px 0px;
}
div.wrapper aside.profile ul {
    list-style-type: none;
}

div.wrapper aside.profile ul li {
    display: flex;
    padding: 3px 0px;
    
}

div.wrapper aside.profile ul li a {
    color: var(--paleBlue);
    cursor: pointer;
}
div.wrapper aside.profile ul li img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

div.wrapper aside.profile div.components {
    width: 100%;
    margin-top: 15px;
}

div.wrapper aside.profile .components strong {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--paleBlue);
    cursor: pointer;
}
div.wrapper aside.profile .components img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

div.wrapper .followers ul {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}

div.wrapper aside.profile div.followers ul li {
    width: 40px;
    height: 40px;
    margin: 3px 5px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #d0d5d9;
}

div.wrapper aside.profile div.images ul {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

div.wrapper aside.profile div.images ul li {
    width: 31.91192309%;
    height: 80px;
    margin: 2px 1px;
    flex-shrink: 0;
    border-radius: 8%;
    background-color: #d0d5d9;
}
/* estilizando a timeline */


div.wrapper section.timeline{
    width: 580px;
    display: flex;
    padding: 15px 0px;
    margin-left: 18px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--white);
} 

div.wrapper section.timeline:hover {
    border: 2px solid var(--paleBlue);
}

div.wrapper section.timeline ul {
    width: 100%;
    height: 35px;
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid rgba(102, 117, 128, 0.1);
}

div.wrapper section.timeline ul li {
    padding: 0px 10px;
    color: var(--paleBlue);
    cursor: pointer;
}


div.wrapper section.timeline ul li:first-child {
    color: var(--pretoFraco);
}
div.wrapper section.timeline ul li strong {
    font-size: 16px;
    font-weight: bold;
}
/* estilizando o widget*/

div.wrapper aside.widgets {
    height: 300px;
    padding: 15px 10px;
    margin: 0px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    border: 2px solid var(--white);
}

div.wrapper aside.widgets:hover {
    border: 2px solid var(--paleBlue);
}

div.wrapper aside.widgets .seguidores {
    padding: 0px 10px ; 
}
